apiVersion: v1
kind: Service
metadata:
  name: {{ include "ai-sns.fullname" . }}-frontend
  labels:
    {{- include "ai-sns.frontend.labels" . | nindent 4 }}
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
    - port: {{ .Values.frontend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "ai-sns.frontend.selectorLabels" . | nindent 4 }}
